.main-popol-wrap{
    background-color: #222;
    color: white;
    padding : 100px 60px;
    border-bottom: 1px solid white;
    /* border-top: 1px solid white; */
}

.main-popol-wrap .popol-title{
    font-size: 32px ;
    font-weight: bold
}

.main-popol-wrap .popol-btn-wrap{
    display: flex;
    cursor:s pointer;
    font-size: 12px;
    gap : 10px;
    margin-bottom: 20px;
}

.main-popol-wrap .popol-btn-wrap .popol-btn{
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
}
.main-popol-wrap .popol-btn-wrap .popol-btn p{
    margin : 5px 10px;
}

.main-popol-wrap .popol-unit-wrap{
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    justify-content: space-between;
}
.main-popol-wrap .popol-unit-div{
    width: calc(25% - 40px);
    border-radius: 15px;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
}
.main-popol-wrap .front-index-wrap{
    display: flex;
    gap: 10px;
}
.main-popol-wrap .front-index{
    background: rgba(255,255,255,0.2);
    /* border: 1px solid white; */
    border-radius: 15px;
    font-size: 12px;
    gap : 10px;
    cursor:s pointer;
}
.main-popol-wrap .front-inner-text{
    font-size: 12px;
    margin : 5px 10px;
}